package protobufMsg

import (
	"fmt"
	"github.com/golang/protobuf/proto"
)

func CreateProtoRequestMessage(cmd int32) (msg proto.Message) {
	switch cmd {
    {{range $index, $handler := .}} {{if eq $index  0}}{{range $cmd, $message := $handler}}
           	 case int32({{$cmd}}):
           	   return &Cs{{$message}}{}
        {{end}}{{end}} {{end}}
	default:
		fmt.Println("CreateProtoRequestMessage not found cmdId:", cmd)
		return nil

	}
}

func CreateProtoResponseMessage(cmd int32) (msg proto.Message) {
	switch cmd {
  {{range $index, $handler := .}} {{if eq $index 1}} {{range $cmd, $message := $handler}}
           	 case int32({{$cmd}}):
           	     return &Sc{{$message}}{}
         {{end}} {{end}}{{end}}


	default:
		fmt.Println("CreateProtoResponseMessage not found cmdId:", cmd)
		return nil

	}
}
