package protobufMsg

import (
	"fmt"
	"github.com/golang/protobuf/proto"
)

func CreateProtoRequestMessage(cmd int32) (msg proto.Message) {
	switch cmd {
    {{range $index, $handler := .}}
	 {{range $cmd, $message := $handler}}
    	 case int32({{$cmd}}):
         		return &protobuf.Cs{{$message}}{}
            {{end}}
    	}
    {{end}}

	default:
		fmt.Println("CreateProtoRequestMessage not found cmdId:", cmd)
		return nil

	}
}

func CreateProtoResponseMessage(cmd int32) (msg proto.Message) {
	switch cmd {
  {{range $index, $handler := .}}
	 {{range $cmd, $message := $handler}}
    	 case int32({{$cmd}}):
         		return &protobuf.Sc{{$message}}{}
            {{end}}
    	}
    {{end}}

	default:
		fmt.Println("CreateProtoResponseMessage not found cmdId:", cmd)
		return nil

	}
}
